<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録<h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.name}" required />
  </div>
  <div>
    <label>カナ:</label>
    <input type="text" th:field="*{student.kananame}" />
    </div>

  <div>
    <label>ニックネーム:</label>
    <input type="text" th:field="*{student.nickname}" />
  </div>

  <div>
    <label>メール:</label>
    <input type="email" th:field="*{student.email}" />
  </div>

  <div>
    <label>エリア:</label>
    <input type="text" th:field="*{student.area}" />
  </div>

      <div>
        <label>年齢:</label>
        <input type="number" th:field="*{student.age}" required>
      </div>

  <div>
    <label>性別:</label>
    <select th:field="*{student.sex}">
      <option value="">未選択</option>
      <option value="F">F</option>
      <option value="M">M</option>
      <option value="Other">Other</option>
    </select>
    </div>

  <div>
    <label>備考:</label>
    <textarea th:field="*{student.remarks}"></textarea>
  </div>

      <hr>

      <div>
        <label>コース名:</label>
        <input type="text" th:field="*{studentCourses[0].courseName}" placeholder="Java">
      </div>

    <button type="submit">登録</button>
      </div>
</form>
</body>
</html>