<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>studentsdetails</title>
</head>
<body>
<h1>studentsdetails</h1>

<table border="1">
  <thead>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>kanaName</th>
    <th>nickname</th>
    <th>email</th>
    <th>area</th>
    <th>age</th>
    <th>sex</th>
    <th>remarks</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${studentList}">
    <td th:text="${studentDetail.student.id}">1</td>
    <td>
      <a href="/studentList" th:href="@{/student/{id}(id=${studentDetail.student.id})}" th:text="${studentDetail.student.name}">YamadaTaro</a>
    </td>
    <td th:text="${studentDetail.student.nameKana}">YamadaTaro</td>
    <td th:text="${studentDetail.student.nickName}">taro-</td>
    <td th:text="${studentDetail.student.email}">taro@example.com</td>
    <td th:text="${studentDetail.student.region}">Tokyo</td>
    <td th:text="${studentDetail.student.age}">20</td>
    <td th:text="${studentDetail.student.gender}">men</td>
    <td th:text="${studentDetail.student.remarks}">Nothing</td>
  </tr>
  </tbody>
</table>
</body>
</html>